body > main {
	margin: 5rem auto;
	max-width: 30rem;
}

h1 {
	margin-bottom: 4rem;
}

nav {
	margin-bottom: 3rem;
}

.formio-wizard-nav-container {
	margin-top: 3rem;
}

.desc-above {
	display: grid;
	grid-template-areas:
		"label"
		"desc"
		"control"
		"error";

	label {
		grid-area: label;
	}

	.form-text {
		grid-area: desc;
		margin-bottom: .75rem;
	}

	div[ref="element"],
	div[ref="radioGroup"] {
		grid-area: control;
	}

	div.formio-errors {
		grid-area: error;
	}
}
